trigger:
  branches:
    include:
      - main
<<<<<<< HEAD
=======
  paths:
    exclude:
      - 'target-folder/*'
>>>>>>> 224db936367ebe3c5f76eac1b89b12aa92660022

pool:
  name: 'Default'

jobs:
  - job: Execute_Functions
    steps:
      - checkout: self
        persistCredentials: true
        
      - task: PowerShell@2
        inputs:
          targetType: 'inline'
          script: |
            Install-PackageProvider -Name NuGet -Force -Confirm:$false -Scope CurrentUser
            Install-Module -Name Az.Storage -Force -Scope CurrentUser -AllowClobber -Confirm:$false
<<<<<<< HEAD
          pwsh: false  # Use Windows PowerShell
=======
          pwsh: false
>>>>>>> 224db936367ebe3c5f76eac1b89b12aa92660022

      - task: PowerShell@2
        inputs:
          filePath: 'scripts/function1.ps1'
          pwsh: false

      - task: PowerShell@2
        inputs:
          filePath: 'scripts/function2.ps1'
          pwsh: false
<<<<<<< HEAD
        env:
          AZURE_DEVOPS_PAT: $(AZURE_DEVOPS_PAT)
=======
>>>>>>> 224db936367ebe3c5f76eac1b89b12aa92660022
