trigger:
  branches:
    include:
      - main

pool:
  name: 'Default'

jobs:
  - job: Execute_Functions
    steps:
      - task: PowerShell@2
        inputs:
          targetType: 'inline'
          script: |
            Install-PackageProvider -Name NuGet -Force -Confirm:$false -Scope CurrentUser
            Install-Module -Name Az.Storage -Force -Scope CurrentUser -AllowClobber -Confirm:$false
          pwsh: false  # Use Windows PowerShell

      - task: PowerShell@2
        inputs:
          filePath: 'scripts/function1.ps1'
          pwsh: false

      - task: PowerShell@2
        inputs:
          filePath: 'scripts/function2.ps1'
          pwsh: false