trigger:
  branches:
    include:
      - main
  paths:
    exclude:
      - target-folder/*

pool:
  name: 'Default'

jobs:
  - job: Execute_Functions
    steps:
      - checkout: self
        persistCredentials: true
        
      - task: PowerShell@2
        inputs:
          targetType: 'inline'
          script: |
            #Install-PackageProvider -Name NuGet -Force -Confirm:$false -Scope CurrentUser
            #Install-Module -Name Az.Storage -Force -Scope CurrentUser -AllowClobber -Confirm:$false
            #Install-Module -Name Az.Storage -Force -Scope CurrentUser -AllowClobber
            #Install-Module -Name SqlServer -Force -Scope CurrentUser -AllowClobber
          pwsh: false 

      - task: PowerShell@2
        inputs:
          filePath: 'scripts/function1.ps1'
          pwsh: false

      - task: PowerShell@2
        inputs:
          filePath: 'scripts/function2.ps1'
          pwsh: false